#root {
  width: 100% !important;
}





body {
  font-family: Arial, sans-serif;
  background: #f4f6f9;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.search-bar button {
  padding: 10px 20px;
  cursor: pointer;
}

.summary {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.grid {
  display: grid;
  gap: 15px;
}

.card {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
}